<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Demo</title>
    <link rel="stylesheet" href="/hbs-demo.css">
    {{{block head}}}
  </head>
  <body>
    {{{body}}}
    <hr>
    {{> legal}}
    <p><small>a neenjaw production.</small></p>
  </body>
</html>
