<% include partials/header %>

<h1>Search for a Movie</h1>

<form class="movie-form" action="/results" method="get">
  <input type="text" name="search" value="" placeholder="Search Terms">
  <button type="submit">Search</button>
</form>

<% include partials/footer %>
