/* CSS FONT RULES */

/* font-family */

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: Georgia;
}

/* font-size */

body {
  font-size: 10px;
}

h1 {
  font-size: 5.0em;
}

em {
  font-size: 2.0em;
}

p {
  font-size: 2.0em;
}

/* font-weight */

p {
  font-weight: normal;
}

/* line-height */

p {
  line-height: 1.5;
}

/* text-align */

h1 {
  text-align: center;
}

p {
  text-align: right;
}

/* text-decoration */

em {
  text-decoration: underline;
}

strong {
  text-decoration: line-through;
}

/* CSS BOX MODEL RULES */

p {
  border: 2px solid blue;
  width: 50%;
  padding: 10px;
  margin: 100px auto;
}

/* Table */

.tictactoe {
  border-collapse: collapse;
}

.tictactoe td {
  height: 75px;
  width: 75px;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  margin: 0px;
  padding: 0px;
}

.tictactoe tr:nth-of-type(1) td {
  border-width: 0px 0px 2px 0px;
}

.tictactoe tr:nth-of-type(3) td {
  border-width: 2px 0px 0px 0px;
}

.tictactoe tr td:nth-of-type(2) {
  border-left-width: 2px;
  border-right-width: 2px;
}
