<% include partials/head %>

  <div class="ui main text container">
    <h2 class="ui header"><%= blog.title %></h2>
    <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
    <p><%- blog.body %></p>
    <a class="ui left floated left labeled icon button" href="/blogs"><i class="left arrow icon"></i> Back</a>
    <a class="ui right floated left labeled icon button" href="/blogs/<%= blog._id %>/edit"><i class="edit icon"></i> Edit</a>
  </div>

<% include partials/pre-script-footer %>
<% include partials/scripts %>
<% include partials/post-script-footer %>
