<% 
if (flash) {
    let alertTypes = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'];

    alertTypes.forEach(type => {
        if (type in flash) { %>
            <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
                <!--
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                -->

                <% for (let i = 0, arr = flash[type]; i < arr.length; i++ ) { %>
                    <p class="m-0 p-0"><%= arr[i] %></p>
                    <% if ( i < arr.length - 1 ) { %><hr><% } %>
                <% } %>
            </div>
        <% }
    });
} 
%>