html {
  height: 100%
}

body {
  font-family: 'Open sans', sans-serif;
  background-color: rgb(38, 38, 38);
  color: white;
  padding: 0px;
  margin: 0px;
}

.top-bar {
  margin: 0;
  padding: 10px;

  background-color: rgb(70, 125, 218);

  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  transition: background-color 0.5s ease-in-out;
}

.top-bar h1 {
  margin: 5px;
  padding: 0px;

  font-size: 4.0em;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.top-bar h2 {
  margin: 5px;
  padding: 0px;

  font-size: 2.5em;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.mid-bar {
  min-height: 15px;
  background-color: white;

  text-align: center;
  color: rgb(70, 125, 218);
}

.mid-bar div {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.mid-bar ul {
  padding: 0;
  margin: 0;

  list-style-type:none;
}

.mid-bar ul li {
  display:inline-block;
  padding: 5px;
  margin: 0;

  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  -moz-user-select: none;
}

.mid-bar .left {
  float: left;
}

.mid-bar .right {
  float: right;
}

.mid-bar li:hover {
  cursor:pointer;
  color: white;
  background-color: rgb(58, 105, 185);
}

#message {
  display: inline-block;
  margin: 0px;
  padding: 5px;

  font-weight: 400;
  color: black;
  text-transform: none;
}

.game {
  max-width: 610px;
  margin: 0px auto;
  padding-top: 15px;
}

.square {
  float: left;

  width: 30%;
  margin: 1.6%;
  padding-bottom: 30%;

  background-color: rgb(38, 38, 38);
  border-radius: 8px;

  transition: background-color 0.5s ease-in-out;
}

.selected-difficulty {
  background-color: rgb(70, 125, 218);
  color: white;
}
