html {
  height: 100%
}

body {
  font-family: 'Open sans', sans-serif;
  background-color: rgb(38, 38, 38);
  color: white;
  padding: 0px;
  margin: 0px;
}

.top-bar {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgb(70, 125, 218);
  padding: 10px;
  margin: 0;
}

.top-bar h1 {
  font-size: 4.0em;
  margin: 5px;
  padding: 0px;
}

.top-bar h2 {
  font-size: 3.0em;
  margin: 5px;
  padding: 0px;
}

.mid-bar {
  text-align: center;
  min-height: 15px;
  background-color: white;
  color: rgb(70, 125, 218);
  border-bottom: 1px solid #bcbcbc;
}

.mid-bar div {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.mid-bar ul {
  padding: 0;
  margin: 0;
  list-style-type:none;
}

.mid-bar ul li {
  display:inline-block;
  padding: 5px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
  -moz-user-select: none;
}

.mid-bar .left {
  float: left;
}

.mid-bar .right {
  float: right;
}

.mid-bar li:hover {
  cursor:pointer;
  color: white;
  background-color: rgb(58, 105, 185);
}

#message {
  display: inline-block;
  color: black;
  text-transform: none;
  font-weight: 400;
  margin: 0px;
  padding: 5px;
}

.game {
  max-width: 610px;
  margin: 0px auto;
  padding-top: 15px;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.6%;
  border-radius: 8px;
  transition: background-color 0.5s ease-in-out;
}

.selected-difficulty {
  color: white;
  background-color: rgb(70, 125, 218);
}
