<h1>Posts:</h1>

<ul>
{{#each posts}}
  <li>{{this.title}} - <strong>{{this.author}}</strong></li>
{{/each}}
</ul>

<ul>
{{#each posts}}
  <li>{{this.title}} - <strong>{{this.author}}</strong></li>
{{/each}}
</ul>
